
body{
  /* background-image: url("../imagenes/fondo6.jpg"); */
  margin:0;
  font-family: nexaLight;
  font-weight: lighter;

}
/*  Fuente de las letras del menu */
  @font-face {
    font-family: nexaBold;
    src: url('../fonts/Nexa_Bold.otf');
}
  @font-face {
    font-family: nexaLight;
    src: url('../fonts/Nexa_Light.otf');
}
.imagen_principal{
  background-image: url('./img/principal');
}
#listado_categorias{
  background: #37626e;
  padding-top:25px;
  padding-bottom:12px;

}

#listado_categorias li{
  text-decoration: none;
  display: inline;
  color:white;
  font-size: 25px;
  padding-bottom: 0px;
}
a{
  text-decoration: none;
  color:white;

}
a:hover{
  color:#f9913c;
  text-decoration: none;

}
#formulario_busqueda{
   position: absolute;

   z-index: 1000;
   margin-top: -400px;

}

/* galeria de fotos */

.galeria{
  width: 100%;
  min-height: 45%;
  float: left;
  padding-top: 1rem;
  /* padding-bottom: 1rem; */
   background-color: cadetblue;
 }

 .galeria span{
  color: #ffffff;
  padding-bottom: 1rem;
}

.galeria .col-xs-12{
  margin:1rem 0 !important;
}

.contenido-principal{
    width: 100%;
    min-height: 80%;
    float: left;
    padding-top: 100px;
}

.carousel-informacion{
    min-width: 100%;
    height: auto !important;
    float: left;
    margin-top: 80px;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    width: 100%;
    height: 50%;
    margin: auto;
}

.carousel-inner > .item > img{
    width: 100%;
    height: 550px !important;
}

.carousel-caption {
    top: 25% !important;
}

/* Fin galeria de fotos */


    .sub_footer{
        width: 100%;
        height: auto;
        float: left;
        padding: 1rem 0;
        text-align: center;
        color: #ffffff;
        background-color: #22678f;
    }
